/* Write your CSS here */
.container {
  background-color: #07080c;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-size: 35px;
  font-style: italic;
}
.image {
  width: 70%;
}
.speed {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto';
}
.text {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Roboto';
}
.accleratebtn {
  background-color: #0b69ff;
  margin-right: 8px;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.breakbtn {
  background-color: transparent;
  margin-left: 8px;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
